name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .[test]
          pip install -r requirements.txt
      - name: Load test environment variables
        run: |
          if [ -f ../.env.test ]; then
            echo "Loading environment variables from .env.test"
            grep -vE '^\s*(#|$)' ../.env.test >> $GITHUB_ENV
            echo "Environment variables loaded successfully."
          else
            echo ".env.test file not found!"
            exit 1
          fi
      - name: Lint with flake8
        run: |
          flake8 src/slideia --max-line-length 120
          flake8 tests --max-line-length 120
      - name: Run tests with pytest
        run: |
          pytest
